<div id="main" class="main main_news">
  <div class="profile d-flex mb-4">
    <div class="assign-detail-heading">
      <h1 class="font-27 font-700 secondary mb-0">Code-Playground</h1>
    </div>
    <app-profile-bar></app-profile-bar>
  </div>

  <link
    rel="icon"
    type="image/x-icon"
    href="http://localhost:4200/assets/images/temp_img/Smart%20tracko.png"
  />
  <html lang="en-US">
    <div class="trytopnav">
      <div class="w3-bar" style="overflow: auto">
        <button
          id="runbtn"
          class="w3-button w3-bar-item w3-hover-white w3-hover-text-green ga-tryit"
          (click)="submitdata()"
        >
          Run &#10095;
        </button>
      </div>
    </div>

    <div id="shield"></div>

    <a href="javascript:void(0)" id="dragbar"></a>
    <div id="container">
      <div
        id="menuOverlay"
        class="w3-overlay w3-transparent"
        style="cursor: pointer; z-index: 4"
      ></div>
      <div id="textareacontainer">
        <div id="textarea">
          <div id="textareawrapper">
            <textarea
            autocomplete="off"
            id="textareaCode"
            wrap="logical"
            spellcheck="false"
            [value]="getCodeSnippet()"
             >
          </textarea>
            <form
              id="codeForm"
              autocomplete="off"
              style="margin: 0px; display: none"
            >
              <input type="hidden" name="code" id="code" />
            </form>
          </div>
        </div>
      </div>
      <div class="top-status-month d-flex gap-3">
        <div class="dropdown">
          <a
            class="attendance_dropdown1 dropdown-toggle font-15 font-500 dark"
            id="status1"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            (click)="toggleDropdown()"
          >
            {{ selectedLanguage }}
          </a>
          <ul class="dropdown-menu" [ngClass]="{ 'show': dropdownOpen }">
            <li *ngFor="let lang of languages">
              <a class="dropdown-item" (click)="selectLanguage(lang)">{{ lang }}</a>
            </li>
          </ul>
        </div>
      </div>

      <div id="iframecontainer">
        <div id="iframe">
          <div id="runloadercontainer"><div id="runloader"></div></div>

          <div id="iframewrapper">
            <div
              id="iframeResult"
              style="position: relative; white-space: nowrap"
            >
              <div>Hello World</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </html>
</div>
