<h3 class="title font-17 font-500 secondary position-relative">Tasks</h3>
<div class="left-tasks" *ngFor="let obj of tasks;let i =  index">
    <a href="" class="mt-2" routerLink="/{{role}}/taskdetails/{{obj.taskId}}">
        <div class="TaskCard">
            <div class="TaskName">{{obj.taskName}}  <span  *ngIf="obj.isCompleted" ><img class="checkicon" src="../../../../assets/images/temp_img/check_marker.png" alt=""></span>
                
            </div>
            <div class="Button">View</div>
           
        </div>
    </a>
</div>

<nav aria-label="Page navigation example" class="table-pagination">
    <ul class="pagination">
        <li class="p-2  mx-2 ms-0"><a class="fs-16 fw-500 secondary" [ngClass]="paginationManager.first?'theading disable-click ':' cur-point'"  (click)="ManageNextPrev(false)">Previous</a></li>
        <li class="page-item cur-point" *ngFor="let b of paginationManager.showButtons ;"  (click)="setPage(b)"><a class="page-link" [ngClass]="pageRequest.pageNumber==b-1?'page-active':''" id="{{b}}" href="javascript:void(0)">{{b}}</a></li>
          <li class=""  *ngIf="paginationManager.totalPages>paginationManager.showButtons[paginationManager.showButtons.length-1]"  ><a class="page-link"  href="javascript:void(0)" (click)="setPage(paginationManager.showButtons[paginationManager.showButtons.length-1]+1)">...</a></li>
        <li class="p-2  mx-0 ms-2"><a class="fs-16 fw-500 secondary"  href="javascript:void(0)"  [ngClass]="paginationManager.last?'theading disable-click':' cur-point'"   (click)="ManageNextPrev(true)">Next</a></li>
    </ul>
  </nav>
