.checkicon {
    height: 14px;
    width: 15px;
    margin-bottom: 14px;
    margin-left: 0px;
}
// .desc{

//         font-size: 14px;
//         padding-bottom: 4px;
//         color: grey;

// }
// .TaskCard {
    
//     height: 53px !important;
// }