.image_gif{
    margin-top: 1rem;
    margin-left: 25rem;
    height: 400px !important;
    width: 500px !important;
    opacity: 0.5;
    pointer-events: none; 
  }
.not_found_text{
    opacity: 0.2;
    margin-left: 33rem;
    margin-top: -50rem;
    height: 5rem;
    pointer-events: none; 
    width: 12rem;
}